<div class="container">
    <div class="profile-container shadow my-3 pt-3 pb-4 bg-body rounded">
        <div class="container">
            <div class="row">
                <div class="col">
                    first name placeholder
                </div>
                <div class="col">
                    last name placeholder
                </div>
            </div>
        </div>
        <div>
            id: {{ userId }}
        </div>
        <div>
            username: {{ username }}
        </div>
        <div>
            email: {{ email }}
        </div>
        <div>
            roles: {{ roles }}
        </div>
    </div>
</div>