<div *ngIf="post" class="container border border-top-0">
    <div class="p-4">
        <!-- FIRST NAME, LAST NAME, USERNAME -->
        <app-user-full-name [userData]="post.authorData"></app-user-full-name>

        <!-- CONTENT -->
        <div class="row py-3">
            <div class="col">
                <div class="display-6">{{ post.content }}</div>
            </div>
        </div>

        <!-- DATE OF CREATION -->
        <app-post-date-details [post]="post"></app-post-date-details>

        <div class="row">
            <!-- COMMENTS -->
            <div class="col">
                <span class="fw-bold small">{{ formatNumber(post.numberOfComments) }}</span>
                <span class="ps-1 small">comments</span>
            </div>

            <!-- LIKES -->
            <div class="col">
                <span class="fw-bold small">{{ formatNumber(post.numberOfLikes) }}</span>
                <span class="ps-1 small">likes</span>
            </div>

            <!-- SHARES -->
            <div class="col">
                <span class="fw-bold small">{{ formatNumber(post.numberOfShares) }}</span>
                <span class="ps-1 small">shares</span>
            </div>
        </div>

        <hr/>
        <div class="row">
            <!-- LIKE BUTTON -->
            <div class="col text-center">
                <em class="bi bi-heart"></em>
            </div>

            <!-- SHARE BUTTON -->
            <div class="col text-center">
                <em class="bi bi-share"></em>
            </div>

            <!-- SEND BUTTON -->
            <div class="col text-center">
                <em class="bi bi-box-arrow-up"></em>
            </div>
        </div>

    </div>

</div>

<app-comment-add [uniquePostId]="uniquePostId"></app-comment-add>

<app-comment-list *ngIf="post.numberOfComments > 0"></app-comment-list>