<ul class="nav nav-tabs">
    <li class="nav-item">
        <a [ngClass]="{'active text-success' : isPostTabActive}"
        (click)="activatePostsTab()"
        class="nav-link text-secondary">Posts</a>
    </li>
    <li class="nav-item">
        <a [ngClass]="{'active text-success' : isFollowersTabActive}"
        (click)="activateFollowersTab()"
        class="nav-link text-secondary">Followers</a>
    </li>
    <li class="nav-item">
        <a [ngClass]="{'active text-success' : isFollowingTabActive}"
        (click)="activateFollowingTab()"
        class="nav-link text-secondary">Following</a>
    </li>
    <li class="nav-item">
        <a [ngClass]="{'active text-success' : isLikesTabActive}"
        (click)="activateLikesTab()"
        class="nav-link text-secondary">Likes</a>
    </li>
</ul>

<app-user-activity-posts-tab *ngIf="isPostTabActive" [username]="username"></app-user-activity-posts-tab>
<app-user-activity-followers-tab *ngIf="isFollowersTabActive" [username]="username"></app-user-activity-followers-tab>
<app-user-activity-following-tab *ngIf="isFollowingTabActive" [username]="username"></app-user-activity-following-tab>
<app-user-activity-likes-tab *ngIf="isLikesTabActive" [username]="username"></app-user-activity-likes-tab>