<div *ngIf="post" class="container border border-top-0">
    <div class="p-4">
        <!-- FIRST NAME, LAST NAME, USERNAME -->
        <div class="row">
            <div class="col">
                <span class="fw-bold">
                    <span>{{ post.authorFirstName }}</span>
                    <span class="ms-1">{{ post.authorLastName }}</span>
                </span>
                <span><i class="bi bi-dot"></i></span>
                <span class="fw-light text-secondary">@{{ post.authorUsername }}</span>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="row py-3">
            <div class="col">
                <div class="display-6">{{ post.content }}</div>
            </div>
        </div>

        <!-- DATE OF CREATION -->
        <div class="row pb-3">
            <div class="col">
                <div *ngIf="post.ageOfPostInDays==0" class="fw-light small text-secondary">
                    {{ displayPostCreationDateForToday(post) }}
                </div>

                <div *ngIf="post.ageOfPostInDays==1" class="fw-light small text-secondary">
                    {{ displayPostCreationDateForYesterday(post) }}
                </div>

                <div *ngIf="post.ageOfPostInDays>1" class="fw-light small text-secondary">
                    {{ post.dateOfCreation| date:'mediumDate'}} at {{ post.timeOfCreation }}
                </div>
            </div>
        </div>

        <div class="row">
            <!-- COMMENTS -->
            <div class="col">
                <span class="fw-bold small">{{ formatNumber(post.numberOfComments) }}</span>
                <span class="ps-1 small">comments</span>
            </div>

            <!-- LIKES -->
            <div class="col">
                <span class="fw-bold small">{{ formatNumber(post.numberOfLikes) }}</span>
                <span class="ps-1 small">likes</span>
            </div>

            <!-- SHARES -->
            <div class="col">
                <span class="fw-bold small">{{ formatNumber(post.numberOfShares) }}</span>
                <span class="ps-1 small">shares</span>
            </div>
        </div>

        <hr/>
        <div class="row">
            <!-- LIKE BUTTON -->
            <div class="col text-center">
                <i class="bi bi-heart"></i>
            </div>

            <!-- SHARE BUTTON -->
            <div class="col text-center">
                <i class="bi bi-share"></i>
            </div>

            <!-- SEND BUTTON -->
            <div class="col text-center">
                <i class="bi bi-box-arrow-up"></i>
            </div>
        </div>

    </div>

</div>

<app-comment-add [uniquePostId]="uniquePostId"></app-comment-add>

<app-comment-list *ngIf="post.numberOfComments > 0"></app-comment-list>