<div class="container login-container">
    <div class="text-center display-1 fw-bold text-success my-3">
        network
    </div>
    <div class="fs-5 mb-3">
        Network helps you exchange thoughts and media with friends as well as with wide a audience.
    </div>

</div>
<div class="container">
    <div class="container login-container shadow pt-3 pb-4 bg-body rounded">
        <form>
            <div class="mb-2">
                <input type="username" class="form-control border rounded-pill fw-light" id="inputUsername"
                    placeholder="Username">
            </div>

            <div class="mb-3">
                <input type="password" id="inputPassword" class="form-control border rounded-pill fw-light"
                    aria-describedby="passwordHelpBlock" placeholder="Password">
            </div>


            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-success border border-success rounded-pill">Log In</button>
            </div>

        </form>

        <div class="text-center mb-4">
            <a href="/" class="link-success fw-light">Forgot password?</a>
        </div>

        <hr class="mb-4" />

        <div class="d-grid gap-2">
            <a class="btn btn-outline-primary border border-primary rounded-pill">Create New Account</a>
        </div>
    </div>
</div>