<div class="container login-container">
    <app-auth-form-logo></app-auth-form-logo>
    <!-- DESCRIPTION TEXT -->
    <div class="fs-5 fw-light mb-3 text-center">
        Network helps you exchange thoughts and media with friends as well as with wider a audience.
    </div>
</div>
<div class="container">
    <div class="container login-container shadow mb-3 pt-3 pb-4 bg-body rounded">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <!-- USERNAME INPUT -->
            <div class="mb-2">
                <input formControlName="username" type="username" class="form-control border rounded-pill fw-light"
                    id="inputUsername" placeholder="Username">
            </div>
            <!-- PASSWORD INPUT -->
            <div class="mb-3">
                <input formControlName="password" type="password" id="inputPassword"
                    class="form-control border rounded-pill fw-light" aria-describedby="passwordHelpBlock"
                    placeholder="Password">
            </div>
            <!-- LOG IN BUTTON -->
            <div class="d-grid gap-2 mb-3">
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success border border-success rounded-pill">Log In</button>
            </div>
        </form>
        <!-- FORGOT PASSWORD HREF -->
        <div class="text-center mb-3">
            <a href="/" class="link-success fw-light">Forgot password?</a>
        </div>
        <hr class="mb-3" />
        <!-- DESCRIPTION TEXT -->
        <div class="fs-6 fw-light mb-2 text-center">
            Don't have an account yet?
        </div>
        <!-- REGISTRATION HREF BUTTON -->
        <div class="d-grid gap-2">
            <a href="/register" class="btn btn-sm btn-outline-primary border border-primary rounded-pill">
                Create New Account
            </a>
        </div>
    </div>
</div>