<div *ngFor="let post of posts" class="container border border-top-0">
    <div class="p-4">
        <!-- FIRST NAME, LAST NAME, USERNAME -->
        <div class="row">
            <div class="col">
                <span class="fw-bold">
                    <span>{{ post.authorFirstName}}</span>
                    <span class="ms-1">{{ post.authorLastName }}</span>
                </span>
                <span><em class="bi bi-dot"></em></span>
                <span class="fw-light text-secondary">@{{ post.authorUsername }}</span>
            </div>
        </div>

        <!-- DATE OF CREATION -->
        <div class="row">
            <div class="col">
                <div *ngIf="post.ageOfPostInDays==0" class="fw-light small text-secondary">
                    {{ displayPostCreationDateForToday(post) }}
                </div>

                <div *ngIf="post.ageOfPostInDays==1" class="fw-light small text-secondary">
                    {{ displayPostCreationDateForYesterday(post) }}
                </div>

                <div *ngIf="post.ageOfPostInDays>1" class="fw-light small text-secondary">
                    {{ post.dateOfCreation| date:'mediumDate'}} at {{ post.timeOfCreation }}
                </div>
            </div>
        </div>

        <!-- LINK TO POST DETAILS -->
        <div class="row py-3">
            <div class="col d-flex position-relative">
                <a [routerLink]="['/post', post.postId]" class="stretched-link"></a>
                <div>{{ post.content }}</div>
            </div>
        </div>

        <div class="row">
            <!-- COMMENTS -->
            <div class="col">
                <div class="text-secondary">
                    <em class="bi bi-chat"></em>
                    <span *ngIf="post.numberOfComments>0" class="ms-1 fw-light small">{{ formatNumber(post.numberOfComments) }}</span>
                </div>
            </div>

            <!-- LIKES -->
            <div class="col">
                <div class="text-secondary">
                    <em class="bi bi-heart"></em>
                    <span *ngIf="post.numberOfLikes>0" class="ms-1 fw-light small">{{ formatNumber(post.numberOfLikes) }}</span>
                </div>
            </div>

            <!-- SHARES -->
            <div class="col">
                <div class="text-secondary">
                    <em class="bi bi-share"></em>
                    <span *ngIf="post.numberOfShares>0" class="ms-1 fw-light small">{{ formatNumber(post.numberOfShares) }}</span>
                </div>
            </div>
        </div>
    </div>
</div>