<div *ngFor="let post of posts" class="container mb-2">
    <div *ngIf="post" class="card">

        <div class="card-header">
            <span class="fw-bold">
                <span>{{ post.user.firstName }}</span>
                <span class="ms-1">{{ post.user.lastName }}</span>
            </span>

            <span><i class="bi bi-dot"></i></span>

            <span class="fw-light small">@{{ post.user.username }}</span>

            <div *ngIf="post.ageOfPostInDays==0" class="fw-light small text-secondary">
                {{ displayPostCreationDateForToday(post) }}
            </div>

            <div *ngIf="post.ageOfPostInDays==1" class="fw-light small text-secondary">
                {{ displayPostCreationDateForYesterday(post) }}
            </div>

            <div *ngIf="post.ageOfPostInDays>1" class="fw-light small text-secondary">
                {{ post.dateOfCreation| date:'mediumDate'}} at {{ post.timeOfCreation }}
            </div>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="card-text">
                    {{ post.content }}
                </div>
            </li>

            <li class="list-group-item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-chat"></i>
                            <span class="ms-1 fw-light small">{{ formatNumber(post.commentCounter) }}</span>
                        </div>

                        <div class="col">
                            <i class="bi bi-heart"></i>
                            <span class="ms-1 fw-light small">{{ formatNumber(post.numberOfLikes) }}</span>
                        </div>

                        <div class="col">
                            <i class="bi bi-share"></i>
                            <span class="ms-1 fw-light small">{{ formatNumber(post.numberOfShares) }}</span>
                        </div>

                        <div class="col">
                            <i class="bi bi-box-arrow-up"></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>