<div *ngFor="let comment of comments" class="container border border-top-0">
    <div class="p-4">
        <!-- FIRST NAME, LAST NAME, USERNAME -->
        <div class="row">
            <div class="col">
                <span class="fw-bold">
                    <span>{{ comment.authorFirstName }}</span>
                    <span class="ms-1">{{ comment.authorLastName }}</span>
                </span>
                <span><em class="bi bi-dot"></em></span>
                <span class="fw-light text-secondary">@{{ comment.authorUsername }}</span>
            </div>
        </div>

        <!-- TIME OF CREATION -->
        <div class="row">
            <div class="col">
                <div *ngIf="comment.ageOfCommentInDays==0" class="fw-light small text-secondary">
                    {{ displayCommentCreationDateForToday(comment) }}
                </div>

                <div *ngIf="comment.ageOfCommentInDays==1" class="fw-light small text-secondary">
                    {{ displayCommentCreationDateForYesterday(comment) }}
                </div>

                <div *ngIf="comment.ageOfCommentInDays>1" class="fw-light small text-secondary">
                    {{ comment.dateOfCreation| date:'mediumDate'}} at {{ comment.timeOfCreation }}
                </div>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="row py-2">
            <div class="col">
                <span>{{ comment.content }}</span>
            </div>
        </div>

        <div class="row">
            <!-- LIKE BUTTON -->
            <div class="col text-center">
                <em class="bi bi-heart"></em>
                <span *ngIf="comment.numberOfLikes>0" class="ms-1 fw-light small">{{
                    formatNumber(comment.numberOfLikes) }}</span>
            </div>

            <!-- RESPOND BUTTON -->
            <div class="col text-center">
                <em class="bi bi-chat"></em>
            </div>
        </div>
    </div>
</div>