<nav class="navbar sticky-top navbar-light bg-white border-bottom">
    <div class="container">

        <div class="row">
            <div class="col-9 ps-5">
                <input class="form-control my-2 border rounded-pill" type="search" placeholder="Search..."
                    aria-label="Search">
            </div>

            <div class="col">
                <button class="btn btn-outline-success my-2 border rounded-circle" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

    </div>
</nav>